.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
}

.App h1 {
  margin: 12px;
  width: 100%;
  font-size: 48px;
  word-wrap: break-word;
}

.latest-day {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.new-cases-card {
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: auto;
  background-color: #F05C5C;
  border-radius: 36px;
  color: white;
  box-shadow: 0px 2px 30px #F05C5C;
  padding: 1rem 0;
}

.new-cases-card .card-title {
  width: 100px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 1rem;
}

.new-cases-card .number {
  font-weight: 700;
  font-size: 48px;
  padding-right: 1rem;
}

.new-cases-card .card-arrow {
  font-weight: 700;
  font-size: 48px;
}

.graph-card {
  border-radius: 36px 36px 0 0;
  margin-top: 24px;
  background-color: #181926;
  flex-grow: 1;
}